/*Style overall div*/
.salesRecord{
    width: 1000px;
    height: 450px;
    background-color: rgb(250, 216, 202);
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*End of div*/
legend {
	width: auto !important;
    border: none;
    font-size: 20px;   
}


fieldset {
	border:  4px solid silver !important;
    height: 190px;
    background-color: #f3a34e;
    width: 95%;
    border-left: 5px;	
}


label, input {
	padding-left: 2px;
}
#quantity {
	width: 40px;
	height: 30px;
}
input {
	align-items: right;
}
#name {
	width: 380px;
}
button {
	align-content: center;
	padding: 10px;
    width: 120px;
    
}
#exit {
	margin-left: 500px;
}
#compute , #order{
    margin-left: 50px;
}
.radioButtons {
	padding: 8px;
}


