table {
    border: 1.5px solid rgb(0, 0, 0);
    width: 800px;
    height: 600px;
}

tr,
td,
th { 
    border: 1.5px solid black;
    padding: 1px 1px;
}

/* table, th, td {
    border: 1px solid rgb(0, 0, 0);
  } */